html {
    scroll-behavior: smooth; 
}
body {
    margin: 0;
    padding: 0;
    /* background-image: url('images/serghei-adam-spain.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom; /* focuses on bottom part */
    background-attachment: fixed; /* fixes background */
    height: 100vh;
    font-family: serif;
    color: white;
    background-color: #1C1C1B;
}

header {
    position: fixed;
    top: 30px; /* lowers nav bar from top */
    width: 100%;
    z-index: 1000; /* keeps it on top */
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Great Vibes", cursive;
}


section {
    padding: 140px 20px 100px 20px; /* extra padding top to account for lowered navbar */
    min-height: 100vh;
}


.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding-top: 80px; /* adjust based on your navbar */
}
.hero-image {
    width: 200px;
    height: auto;
    /* border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    background-color: white; */
}
